.go_login {
  display: none;
}
.signup_ac {
  color: black;
  font-size: 6vw;
  color: white;
  padding-bottom: 2vw;
}
.signup_page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(94, 172, 170);
  width: 83vw;
  border-radius: 60px;
  height: 90vw;
  padding: 15px;
}
.just {
  display: flex;
  justify-content: center;
}

.btn_2 {
  width: 140px;
  border-radius: 30px;
  font-size: 20px;
  background-color: rgb(222, 242, 241);

  margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  height: 5.3vh;
  width: 70%;
  border-radius: 15px;
  border: 0;
  padding-left: 15px;
  font-size: 18px;
  margin-top: 30px;
  background-color: rgb(222, 242, 241);
}
.btn_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 770px) {
  .one {
    display: flex;
  }

  .goto_href {
    display: none;
  }
  .go_login {
    width: 40vw;
    height: 100vh;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(15, 213, 172) 0%,
      rgb(34, 182, 198) 100.2%
    );
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 30px;

    /* padding: 50px; */
  }
  .signup_page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    flex-direction: column;
    background-color: white;
    height: 96.3vh;
   gap: 5px
  }
  .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
 }
  .usernameSection {
    display: flex;
    gap: 15px;
  }
  .sign_al {
    font-size: 40px;
    font-weight: 800;
  }
  .sign_info {
    font-size: 30px;
    line-height: 50px;
    font-weight: 550;
    max-width: 500px;
  }
  .btn_1 {
    height: 40px;
    width: 140px;
    border-radius: 30px;
    background-color: white;
    font-size: 18px;
    color: black;
  }
  .signup_ac {
    color: black;
    font-size: 40px;
    padding-bottom: 2rem;
  }
  .input {
    height: 45px;
    width: 390px;
    border-radius: 15px;
    border: 0;
    padding-left: 15px;
    font-size: 18px;
    margin-bottom: 30px;
    background-color: rgb(222, 242, 241);
  }
  .group {
    gap: 70px
  }
  .longInput {
    width: 350px;
  }
  .btn_2 {
    height: 40px;
    font-size: 18px;
  }
}
