.flex {
  margin-top: 300px;
  display: flex;
  justify-content: center;
}
.limit {
  width: 55vw;
  height: 100vh;
}
.picture {
  width: 750px;
  border-radius: 0 3rem 3rem 3rem;
  border: 1px solid black;
}
.h2 {
  font-size: 23px;
}
.comment {
  width: 700px;
  height: fit-content;
  box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  border-radius: 2rem 0 2rem 2rem;
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
}
.create {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.create2 {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 10px;
}
.money {
  height: 13vh;
  width: 13vh;
  border-radius: 100%;
}
.comment:hover {
  box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
}
.comment2:hover {
  box-shadow: 0px 0px 50px 4px rgba(208, 208, 208, 0.3);
}
.comment2 {
  width: 700px;
  height: fit-content;
  box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  border-radius: 0 2rem 2rem 2rem;
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
}
.hover {
  display: flex;
  align-items: center;
  position: relative;
  animation: siu1 1s ease forwards;
  border: 1px solid black;
}

.hover:hover {
  -webkit-transition: all 0.1s ease-in-out;
  animation: siu 1s ease forwards;
}
.picture {
  position: relative;
  animation: siu1 1s ease forwards;
}

.picture:hover {
  box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  -webkit-transition: all 0.2s ease-in-out;
  animation: siu 0.5s ease forwards;
  transition: 100ms;
}

/* .hover:hover{
  
   } */

@media only screen and (max-width: 1220px) {
  .limit {
    width: 70vw;
    height: 100vh;
  }

  .picture {
    width: 650px;
    border-radius: 0 3rem 3rem 3rem;
  }

  .flex {
    display: flex;
    justify-content: center;
  }

  .comment {
    width: 600px;
    height: 12vh;
    border: 1px solid black;
    border-radius: 2rem 0 2rem 2rem;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
  }

  .create {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  .create2 {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .money {
    height: 13vh;
    width: 13vh;
    border-radius: 100%;
  }

  .comment:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  }

  .comment2:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  }

  .comment2 {
    width: 600px;
    height: 12vh;
    border: 1px solid black;
    border-radius: 0 2rem 2rem 2rem;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
  }
  .hover {
    position: relative;
    animation: siu1 1s ease forwards;
  }

  .hover:hover {
    -webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
  .picture {
    position: relative;
    animation: siu1 1s ease forwards;
  }

  .picture:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
    -webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
}

@media only screen and (max-width: 910px) {
  .body {
    padding: 25px;
  }

  .limit {
    width: 93.5vw;
    height: 100vh;
  }

  .picture {
    width: 600px;
    border-radius: 0 3rem 3rem 3rem;
    border: 1px solid black;
  }

  .flex {
    display: flex;
    justify-content: none;
  }

  .comment {
    width: 600px;
    height: 12vh;
    border: 1px solid black;
    border-radius: 2rem 0 2rem 2rem;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
  }

  .create {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  .create2 {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .money {
    height: 13vh;
    width: 13vh;
    border-radius: 100%;
  }

  .comment:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  }

  .comment2:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  }

  .comment2 {
    width: 600px;
    height: 12vh;
    border: 1px solid black;
    border-radius: 0 2rem 2rem 2rem;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
  }
  .hover {
    position: relative;
    animation: siu1 1s ease forwards;
  }

  .hover:hover {
    -webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
  .picture {
    position: relative;
    animation: siu1 1s ease forwards;
    border: 1px solid black;
  }

  .picture:hover {
    box-shadow: 0px 0px 50px 4px rgba(157, 157, 157, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
}

@media only screen and (max-width: 760px) {
  .body {
    padding: 25px;
    padding-right: 25px;
  }

  .limit {
    width: 93.5vw;
    height: 100vh;
  }

  .picture {
    width: 100%;
    border-radius: 0 3rem 3rem 3rem;
  }

  .flex {
    display: flex;
    justify-content: none;
  }

  .comment {
    width: 95%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 2rem 0 2rem 2rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .comment2 {
    width: 95%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 0 2rem 2rem 2rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .create {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  .create2 {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .money {
    height: 13vh;
    width: 13vh;
    border-radius: 100%;
  }
  .hover {
    position: relative;
    animation: siu1 1s ease forwards;
  }

  .hover:hover {
    -webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
  .comment:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  }
  .picture {
    position: relative;
    animation: siu1 1s ease forwards;
  }

  .picture:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
    webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
}

@keyframes siu {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 1%;
  }
}
@keyframes siu1 {
  0% {
    bottom: 1%;
  }
  100% {
    bottom: 0;
  }
}
