.article_container {
    display: flex;
    justify-content: center;
    font-family: "SF Display", Arial, Helvetica, sans-serif;
    padding-top: 97px;
    width: 100vw;
}
.article_container_none {
    display: none;
}
.articles {
    display: block;
    width: 1114px;
    padding: 0 35px;
}
.article_left_image {
    width: 100%;
    height: 336px;
}
.banner_con {
    display: flex;
    width: 66.5%;
    margin-bottom: 45px;
}
.banner {
    transition: 200ms;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 50%);
    width: 100%;
    cursor: pointer;
}
.banner:hover {
    margin-top: -5px;
    box-shadow: 0px 0px 50px 4px rgba(184, 184, 184, 0.8);
}
.banner:hover .banner_con {
    margin-bottom: 60px;
}
.article_right {
    display: flex;
    justify-content: end;
    height: 280px;
}
.article_left {
    display: flex;
    justify-content: start;
    height: 280px;
}
.content_right {
    display: block;
    width: 739px;
    height: 236px;
    transition: 200ms;
    margin-bottom: 45px;
}
.content_right:hover {
    margin-top: -5px;
}
.content_right:hover .article_title {
    box-shadow: 0px 0px 50px 4px rgba(184, 184, 184, 0.8);
}
.content_right:hover .article_title2 {
    box-shadow: 0px 0px 50px 4px rgba(184, 184, 184, 0.8);
}
.creator_con {
    display: flex;
    justify-content: end;
    height: 40px;
    width: 100%;
}
.creator_con2 {
    display: flex;
    justify-content: start;
    height: 40px;
    width: 100%;
}
.creator_name {
    display: block;
    padding-top: 5px;
}
.name {
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-weight: 600;
}
.name2 {
    display: flex;
    justify-content: start;
    font-size: 12px;
    font-weight: 600;
}
.date {
    color: grey;
    font-size: 12px;
    font-weight: 600;
}
.dot_icon {
    font-size: 20px;
    margin-bottom: -5px;
}
.creator_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-right: 5px;
}
.creator_avatar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-right: 10px;
}
.avatar {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.article_title {
    display: flex;
    justify-content: space-between;
    height: 135px;
    margin-top: 13px;
    padding-top: 28px;
    padding-right: 65px;
    padding-bottom: 20px;
    padding-left: 51px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 50%);
}
.article_title2 {
    display: flex;
    justify-content: space-between;
    height: 135px;
    margin-top: 13px;
    padding-top: 28px;
    padding-right: 65px;
    padding-bottom: 20px;
    padding-left: 51px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 50%);
}
.title {
    display: block;
}
.title_type {
    height: 22px;
    font-size: 13px;
    font-weight: 600;
    color: #0078f6;
}
.title_name {
    transition: 200ms;
    font-size: 21.6px;
    font-weight: 600;
    cursor: pointer;
}
.title_name:hover {
    color: #0078f6;
}
.article_image {
    width: 135px;
    height: 135px;
    border-radius: 100%;
}
@media only screen and (max-width: 1220px) {
    .articles {
        width: 928px;
        padding: 0 25px;
    }
    .banner_con {
        width: 79.5%;
    }
}
@media only screen and (max-width: 980px) {
    .content_right {
        width: 80%;
    }
    .article_left_image {
        height: auto;
    }
    .banner:hover {
        margin-top: -5px;
    }
}
@media only screen and (max-width: 767px) {
    .article_container {
        padding-top: 60px;
    }
    .articles {
        height: 90%;
        padding: 0 20px;
    }
    .article_right, .article_left {
        height: 19.5%;
    }
    .content_right {
        width: 150%;
        margin-bottom: 0;
    }
    .banner_con {
        width: 100%;
    }
    .article_title, .article_title2 {
        height: auto;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 33px;
        padding-right: 33px;
    }
    .article_right:hover .content_right {
        padding-bottom: 10px;
    }
    .article_left:hover .content_right {
        padding-bottom: 10px;
    }
    .title_name {
        font-size: 18px;
    }
    .title_type {
        font-size: 12px;
    }
    .article_image {
        width: 88px;
        height: 88px;
    }
}
@media only screen and (max-width: 400px) {
    .content_right {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 320px) {
    .content_right {
        margin-bottom: 50px;
    }
}