.flex {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-top: 200px;
}
.limit {
  width: 1116px;
}
.image_con {
  display: flex;
  align-items: center;
  height: 310px;
}
.picture {
  transition: 200ms;
  width: 750px;
  border-radius: 0 3rem 3rem 3rem;
}
.picture:hover {
  margin-bottom: 15px;
  box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 90%);
}
.hover {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  height: 280px;
  animation: siu1 1s ease forwards;
}
.article {
  transition: 200ms;
  display: block;
}
.article:hover {
  margin-bottom: 15px;
}
.article:hover .comment {
  box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 80%);
}
.creator_container {
  display: flex;
  justify-content: end;
  height: 40px;
}
.creator_container2 {
  display: flex;
  justify-content: start;
  height: 40px;
}
.creator {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5px;
}
.creator2 {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 5px;
}
.creator_name {
  display: block;
  margin-right: 10px;
}
.creator_name2 {
  display: block;
  margin-left: 10px;
}
.name {
  display: flex;
  justify-content: end;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: black;
  font-family: "SF Display", Arial, Helvetica, sans-serif;
}
.name2 {
  display: flex;
  justify-content: start;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: black;
  font-family: "SF Display", Arial, Helvetica, sans-serif;
}
.date {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: #888888;
}
.dot_icon {
  font-size: 20px;
  margin-bottom: -5px;
}
.article_creator_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.comment {
  margin-top: 10px;
  width: 625px;
  height: 135px;
  padding-right: 65px;
  padding-left: 51px;
  padding-top: 28px;
  padding-bottom: 20px;
  transition: 200ms;
  box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  border-radius: 2rem 0 2rem 2rem;
  display: flex;
}
.comment2 {
  margin-top: 10px;
  width: 625px;
  height: 135px;
  padding-right: 65px;
  padding-left: 51px;
  padding-top: 28px;
  padding-bottom: 20px;
  transition: 200ms;
  box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  border-radius: 0 2rem 2rem 2rem;
  display: flex;
}
.title {
  display: block;
  align-items: start;
  width: 623px;
  padding-right: 60px;
}
.title_type {
  font-size: 13px;
  color: #0078f6;
  font-family: "SF Display", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 0;
}
.title_name {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  font-weight: 700;
}
.article_image {
  width: 135px;
  height: 135px;
  border-radius: 100px;
}
.create2 {
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 10px;
}
.comment2 {
  width: 700px;
  height: fit-content;
  box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  border-radius: 0 2rem 2rem 2rem;
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
}
.picture {
  position: relative;
  animation: siu1 1s ease forwards;
}

@media only screen and (max-width: 1250px) {
  .limit {
    width: 916px;
    height: 100vh;
  }

  .picture {
    width: 650px;
    border-radius: 0 3rem 3rem 3rem;
  }

  .flex {
    display: flex;
    justify-content: center;
  }

  .comment {
    width: 600px;
    height: 12vh;
    border: 1px solid black;
    border-radius: 2rem 0 2rem 2rem;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
  }

  .create {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  .create2 {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 10px;
  }
}

@media only screen and (max-width: 980px) {
  .body {
    padding: 25px;
  }

  .limit {
    width: 93.5vw;
    height: 100vh;
  }

  .picture {
    width: 600px;
    border-radius: 0 3rem 3rem 3rem;
    border: 1px solid black;
  }

  .flex {
    display: flex;
    justify-content: none;
  }

  .comment {
    width: 600px;
    height: 12vh;
    border: 1px solid black;
    border-radius: 2rem 0 2rem 2rem;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
  }

  .create {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  .create2 {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .money {
    height: 13vh;
    width: 13vh;
    border-radius: 100%;
  }

  .comment:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  }

  .comment2:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  }

  .comment2 {
    width: 600px;
    height: 12vh;
    border: 1px solid black;
    border-radius: 0 2rem 2rem 2rem;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
  }
  .hover {
    position: relative;
    animation: siu1 1s ease forwards;
  }

  .hover:hover {
    -webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
  .picture {
    position: relative;
    animation: siu1 1s ease forwards;
    border: 1px solid black;
  }

  .picture:hover {
    box-shadow: 0px 0px 50px 4px rgba(157, 157, 157, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
}

@media only screen and (max-width: 760px) {
  .body {
    padding: 25px;
    padding-right: 25px;
  }

  .limit {
    width: 93.5vw;
    height: 100vh;
  }

  .picture {
    width: 100%;
    border-radius: 0 3rem 3rem 3rem;
  }

  .flex {
    display: flex;
    justify-content: none;
  }

  .comment {
    width: 95%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 2rem 0 2rem 2rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .comment2 {
    width: 95%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 0 2rem 2rem 2rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .create {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  .create2 {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .money {
    height: 13vh;
    width: 13vh;
    border-radius: 100%;
  }
  .hover {
    position: relative;
    animation: siu1 1s ease forwards;
  }

  .hover:hover {
    -webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
  .comment:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
  }
  .picture {
    position: relative;
    animation: siu1 1s ease forwards;
  }

  .picture:hover {
    box-shadow: 0px 0px 50px 4px rgb(209 209 209 / 30%);
    webkit-transition: all 0.2s ease-in-out;
    animation: siu 1s ease forwards;
  }
}

@keyframes siu {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 1%;
  }
}
@keyframes siu1 {
  0% {
    bottom: 1%;
  }
  100% {
    bottom: 0;
  }
}
