* {
  font-family: "SF Display", sans-serif;
}
.Container {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding-top: 70px;
  padding-left: 350px;
  padding-bottom: 30px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.midContainer {
  display: flex;
  gap: 140px;
}
.title {
  color: #0078f6;
  font-size: 13px;
  font-weight: bold;
}
.texts {
  color: #888;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
}
.textContainer {
  display: block;
  margin-top: 25px;
}
.textContainer,
span {
  font-size: 12px;
}
.firstRow {
  display: flex;
  flex-direction: column;
  line-height: 0.8;
}
.footerContainer {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footerText {
  font-size: 12px;
  font-weight: 500;
  color: #121212;
  margin-bottom: 0px;
}
.footerRow {
  width: 25%;
  gap: 20px;
  margin-top: 60px;
}
.footerTitle {
  font-size: 19px;
  margin-top: 5px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #121212;
}
.footerTitle2 {
  font-size: 14px;
  color: #121212;
}
.footerBottom {
  padding-top: 10px;
}

.footerText2 {
  font-size: 10px;
  font-weight: 500;
  color: #888888;
}
.fTitleContainer {
  display: flex;
  gap: 160px;
}
