@media only screen and (min-width: 1790px) {
  .back {
    width: 100%;
    height: 65vh;
    background-color: black;
    display: block;
  }
  .pos {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    height: 18px;
    margin-bottom: 30px;
  }
  .sub_texts {
    margin-top: 10px;
  }
  .card {
    width: 340px;
    height: 100px;
    background-color: rgb(43, 48, 53);
    border-radius: 1.3rem;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    background-image: url(https://unread.today/img/btn-black.png);
  }
  .mini {
    display: flex;
    color: white;
    gap: 25px;
  }
  .threepart {
    display: flex;
    color: #878787;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  h3 {
    color: #0078f6;
  }
  .part1 {
    width: 35%;
  }
  .part2 {
    margin-top: 55px;
    width: 35%;
  }
  .part3 {
    width: 30%;
  }
  .icon {
    color: #878787;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  .lll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .arhi {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1790px) {
  .back {
    width: 100%;
    height: 65vh;
    background-color: black;
    display: block;
  }
  .pos {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    height: 18px;
    margin-bottom: 30px;
  }
  .card {
    width: 340px;
    height: 100px;
    background-color: rgb(43, 48, 53);
    border-radius: 1.3rem;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    background-image: url(https://unread.today/img/btn-black.png);
  }
  .mini {
    display: flex;
    color: white;
    gap: 25px;
  }
  .threepart {
    display: flex;
    color: #878787;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  h3 {
    color: #0078f6;
  }
  .part1 {
    margin-right: 40px;
  }
  .part2 {
    margin-top: 55px;
  }
  .part3 {
    width: 30%;
  }
  .icon {
    color: #878787;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  .lll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .lai3 {
    width: 50%;
  }
  .arhi {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1275px) {
  .back {
    width: 100%;
    height: 65vh;
    background-color: black;
    display: block;
  }
  .pos {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    height: 18px;
    margin-bottom: 30px;
  }
  .card {
    width: 320px;
    height: 100px;
    background-color: rgb(43, 48, 53);
    border-radius: 1.3rem;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    background-image: url(https://unread.today/img/btn-black.png);
  }
  .mini {
    display: flex;
    color: white;
    gap: 25px;
  }
  .threepart {
    display: flex;
    color: #878787;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  h3 {
    color: #0078f6;
  }
  .part1 {
    width: 33%;
    margin: 0;
  }
  .part2 {
    margin-top: 55px;
    width: 33%;
  }
  .part3 {
    width: 30%;
  }
  .icon {
    color: #878787;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  .lll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .lai3 {
    width: 60%;
  }
  .arhi {
    display: flex;
    width: 50%;
  }
}
@media only screen and (max-width: 1275px) {
  .back {
    width: 100%;
    height: 65vh;
    background-color: black;
    display: block;
  }
  .pos {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    height: 18px;
    margin-bottom: 30px;
  }
  .card {
    width: 320px;
    height: 100px;
    background-color: rgb(43, 48, 53);
    border-radius: 1.3rem;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    background-image: url(https://unread.today/img/btn-black.png);
  }
  .mini {
    display: flex;
    color: white;
    gap: 25px;
  }
  .threepart {
    display: flex;
    color: #878787;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  h3 {
    color: #0078f6;
  }
  .part1 {
    width: 50%;
  }
  .part2 {
    margin-top: 55px;
    width: 50%;
  }
  .part3 {
    width: 28%;
  }
  .icon {
    color: #878787;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  .lll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .lai3 {
    width: 60%;
    margin-left: 25px;
  }
  .arhi {
    display: flex;
    width: 70%;
  }
}
@media only screen and (max-width: 866px) {
  .back {
    width: 100%;
    height: 65vh;
    background-color: black;
    display: block;
  }
  .pos {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    height: 18px;
    margin-bottom: 30px;
  }
  .card {
    width: 320px;
    height: 100px;
    background-color: rgb(43, 48, 53);
    border-radius: 1.3rem;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    background-image: url(https://unread.today/img/btn-black.png);
  }
  .mini {
    display: flex;
    color: white;
    gap: 25px;
  }
  .threepart {
    display: flex;
    color: #878787;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }
  h3 {
    color: #0078f6;
  }
  .part1 {
    width: 33%;
  }
  .part2 {
    margin-top: 55px;
    width: 33%;
  }
  .part3 {
    width: 28%;
  }
  .icon {
    color: #878787;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  .lll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .lai3 {
    width: 60%;
    margin-left: 25px;
  }
  .arhi {
    display: flex;
    width: 60%;
  }
}
@media only screen and (max-width: 770px) {
  .back {
    width: 100%;
    height: 65vh;
    background-color: black;
    display: block;
  }
  .pos {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    height: 18px;
    margin-bottom: 30px;
  }
  .card {
    width: 320px;
    height: 100px;
    background-color: rgb(43, 48, 53);
    border-radius: 1.3rem;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    background-image: url(https://unread.today/img/btn-black.png);
  }
  .mini {
    display: flex;
    color: white;
    gap: 25px;
  }
  .threepart {
    display: block;
    color: #878787;
    width: 100%;
    font-size: 13px;
  }
  h3 {
    color: #0078f6;
  }
  .part1 {
    width: 45%;
  }
  .part2 {
    margin-top: 55px;
    width: 45%;
  }
  .part3 {
    width: 100%;
  }
  .icon {
    color: #878787;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  .lll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .lai3 {
    width: 60%;
    margin-left: 25px;
  }
  .arhi {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .deesh {
    display: flex;
    align-items: flex-start;
    height: 40vh;
  }
}

@media only screen and (max-width: 700px) {
  .back {
    width: 100%;
    height: 70vh;
    background-color: black;
    display: block;
  }
  .pos {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    height: 18px;
    margin-bottom: 30px;
  }
  .card {
    width: 90%;
    height: fit-content;
    background-color: rgb(43, 48, 53);
    border-radius: 1.3rem;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    background-image: url(https://unread.today/img/btn-black.png);
  }
  .mini {
    display: flex;
    color: white;
    gap: 25px;
    font-size: 90%;
    justify-content: space-evenly;
  }
  .threepart {
    display: block;
    color: #878787;
    width: 100%;
    font-size: 13px;
  }
  h3 {
    color: #0078f6;
  }
  .part1 {
    width: 40%;
  }
  .part2 {
    margin-top: 55px;
    width: 50%;
  }
  .part3 {
    width: 90%;
    margin-right: 20px;
  }
  .icon {
    color: #878787;
    font-size: 30px;
    margin-top: 20px;
  }
  .lll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }
  .lai3 {
    width: 60%;
    margin-left: 25px;
    margin-top: 100px;
  }
  .arhi {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .deesh {
    display: flex;
    align-items: flex-start;
    height: 40vh;
  }
  .ajil {
    display: none;
  }
  .rep {
    font-size: 90%;
  }
}
@media only screen and (max-width: 478px) {
  .back {
    width: 100%;
    height: fit-content;
    background-color: black;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pos {
    width: 95%;
    display: block;
  }
  .image {
    height: 18px;
    margin-bottom: 30px;
  }
  .card {
    width: 100%;
    height: fit-content;
    background-color: rgb(43, 48, 53);
    border-radius: 1.3rem;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
    margin-right: 20px;
    background-image: url(https://unread.today/img/btn-black.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mini {
    display: flex;
    color: white;
    gap: 25px;
    font-size: 80%;
    justify-content: space-evenly;
    width: 82vw;
  }
  .threepart {
    display: block;
    color: #878787;
    width: 100%;
    font-size: 13px;
  }
  h3 {
    color: #0078f6;
  }
  .part1 {
    width: 40%;
  }
  .part2 {
    margin-top: 55px;
    width: 35%;
    margin-right: 20px;
  }
  .part3 {
    width: 90%;
    margin-right: 20px;
  }
  .icon {
    color: #878787;
    font-size: 27px;
    margin-top: 20px;
  }
  .lll {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .lai3 {
    width: 60%;
    margin-left: 25px;
    margin-top: 100px;
  }
  .arhi {
    display: flex;
    justify-content: space-between;
    width: 90vw;
  }
  .deesh {
    display: flex;
    align-items: flex-start;
    height: 20vh;
    margin-right: 20px;
    margin-left: 20px;
  }
  .ajil {
    display: none;
  }
  .zuu {
    width: 100%;
  }
  .rep {
    font-size: 90%;
  }
}
