:root {
  --card_width: 568px 284px 284px;
  --row_increment: 10px;
  --card_small: 25;
  --card_medium: 29;
  --card_large: 34;
  --card_extra_large: 35;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  margin-top: 20%;
}
.pin_container {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}
.card_extra_large {
  padding: 0px;
  margin: 10px 10px;
  border-radius: var(--card_border-radius);
  grid-row-end: span var(--card_extra_large);
  background-color: pink;
  background-image: url(https://unread.today/files/44/5a575ffa8c2ebc8ec1a02992c4e6a05b_square.jpg);
  background-position: 100%;
  background-size: cover;
  border-radius: 15px;
}
.card_large1 {
  padding: 0px;
  margin: 10px 10px;
  border-radius: var(--card_border-radius);
  grid-row-end: span var(--card_large);
  background-color: green;
  background-position: 100%;
  background-image: url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/fb2e562f296111cbf6c70cc46cf7a783_square.jpeg);
  background-size: cover;
  border-radius: 15px;
}
.card_large2 {
  padding: 0px;
  margin: 10px 10px;
  border-radius: var(--card_border-radius);
  grid-row-end: span var(--card_large);
  background-color: green;
  background-position: 100%;
  background-image: url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/fb2e562f296111cbf6c70cc46cf7a783_square.jpeg);
  background-size: cover;
  border-radius: 15px;
}
.card_medium1 {
  padding: 0px;
  margin: 10px 10px;
  border-radius: var(--card_border-radius);
  background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/398683208b86e70e1ea1792f0b2d38e1_square.png);
  background-position: 100%;
  background-size: cover;
  grid-row-end: span var(--card_medium);
  background-color: blue;
  border-radius: 15px;
}
.card_medium2 {
  padding: 0px;
  margin: 10px 10px;
  border-radius: var(--card_border-radius);
  background-image: url(https://unread.today/files/969a1aed-77a4-45e9-b7b7-3ee2709aaf31/398683208b86e70e1ea1792f0b2d38e1_square.png);
  background-position: 100%;
  background-size: cover;
  grid-row-end: span var(--card_medium);
  background-color: blue;
  border-radius: 15px;
}
.card_small {
  display: flex;
  gap: 20px;
  height: 260px;
  padding: 0px;
  margin: 10px 10px;
  border-radius: var(--card_border-radius);
  grid-row-end: span var(--card_small);
  border-radius: 15px;
}
.small_small1 {
  border-radius: 15px;
  width: 264px;
  background-image: url(https://unread.today/files/3d642b1c-cb78-4ea8-9fbe-ef518fc6d379/dea1e871f34e0b55dc3888e3f195ec84_square.png);
  background-position: 100%;
  background-size: cover;
  height: 100%;
  background-position: 80%;
  background-color: purple;
}
.small_small2 {
  border-radius: 15px;
  width: 264px;
  background-image: url(https://unread.today/files/3d642b1c-cb78-4ea8-9fbe-ef518fc6d379/dea1e871f34e0b55dc3888e3f195ec84_square.png);
  background-position: 100%;
  background-size: cover;
  height: 100%;
  background-position: 80%;
  background-color: purple;
}
@media only screen and (max-width: 1250px) {
  :root {
    --card_width: 468px 234px 234px;
    --row_increment: 10px;
    --card_small: 20;
    --card_medium: 24;
    --card_large: 28;
    --card_extra_large: 29;
  }
  .card_small {
    height: 215px;
  }
}
@media only screen and (max-width: 1050px) {
  :root {
    --card_width: 368px 185px 185px;
    --row_increment: 10px;
    --card_small: 10;
    --card_medium: 19;
    --card_large: 22;
    --card_extra_large: 23;
  }
  .card_small {
    height: 160px;
  }
}
/* .pin_container2's styles */
.pin_container2 {
  display: none;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  background-color: black;
}
.card1 {
  display: flex;
  justify-content: center;
  width: 92vw;
  height: 40vh;
}
.card1_1 {
  display: flex;
  width: 100vw;
}
.card_image1_1 {
  border-radius: 15px;
  width: 92vw;
  object-fit: cover;
}
.card2 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 92vw;
  height: 40vh;
  border: 1px solid white;
}
.card2_1 {
  display: flex;
  width: 100vw;
  border: 1px solid red;
}
.card2_1_con {
  display: flex;
  width: 100vw;
}
.card_image2_1 {
  width: 100%;
  border-radius: 15px;
}
.card2_2 {
  display: flex;
  width: 100vw;
}
.card_image2_2 {
  border-radius: 15px;
}

@media only screen and (max-width: 755px) {
  .pin_container {
    display: none;
  }
  .pin_container2 {
    display: block;
  }
  .container {
    margin-top: 60%;
  }
}
