.controller {
  width: 100vw;
  background-color: #fafafa;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}
.containerCarousel{
  display: flex;
  justify-content: center;
  align-items: center;
}